<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Adventures of Popsicle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>rollyball.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>507E04C51BEE5E5E00E7E9E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>507E04DB1BEE5E5F00E7E9E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>507E04E61BEE5E5F00E7E9E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C1F15F31B25DB2D00F0A249</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C1F160C1B25DB2D00F0A249</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
